.kanban {
    margin: 0 -50px 0 -60px;
    background-color: #f4f4fb;
    margin-top: 20px;
    
    .ant-affix {
        z-index: 98;
        .menuBox {
            margin: 0;
            padding: 0 50px 0 60px;
        }
    }
    .ant-anchor-wrapper {
        background-color: #f4f4fb;
        margin-left: 0;
        padding-left: 0;
        .ant-anchor-ink {
            display: none;
        }
        .ant-anchor-link {
            padding: unset;
            line-height: unset;
            .ant-anchor-link-title {
                color: #999;
                font-size: 18px !important;
            }
        }
    }
    .ant-menu {
        .ant-menu-item {
            font-size: 18px !important;
            color: #999;
            margin-right: 70px !important;
        }
        .ant-menu-item-active,
        .ant-menu-item-selecte {
            color: #7377de;
        }
        .ant-menu-item-selected,
        .ant-menu-item-selected > a,
        .ant-menu-item-selected > a:hover {
            color: #7377de;
        }
    }
    // .ant-table-tbody > tr > td {
    //     height: 80px;
    // }

    .contentContainer {
        padding: 20px 50px 0 60px;
    }
    .card {
        background: white;
        border-color: #ccccf2;
        border-width: 1px;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 0px #ebeff3;
    }
    .currentAddr {
        margin-left: 40px;
        padding-top: 20px;
        font-size: 14px;
        color: #999999;
    }
    .assetBox {
        padding: 20px 40px 40px 40px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .asset {
        width: 30%;
        height: 80px;
        border-right: 1px dashed #d6dbf4;
    }
    .asset:last-child {
        border: none;
    }
    .asset .assetName {
        font-size: 14px;
        color: #999999;
    }
    .asset .assetNum {
        font-size: 30px;
        color: #333333;
    }
    .asset:first-child .assetNum {
        font-size: 36px;
    }
    
    .menu-box {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        border-bottom: 1px solid #d6dbf4;
        background-color: #f4f4fb;
        margin: 0 50px 0 60px;
    }
    .walletBalance span {
        font-size: 14px;
        color: #999;
    }
    .tableAction {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 80px;
    }
    .projectTitle {
        display: flex;
        align-items: center;
        margin: 15px 0;
    }
    .projectTitle span {
        font-size: 18px;
        color: #7377de;
    }
    .noData {
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .noData p {
        margin-top: 25px;
        font-size: 18px;
        color: #344563;
    }
    
}


